.bodi{
    width: 1600px;
    height: 4000px;
}
.f{
    width: 1600px;
    height: 921px;
    background-color:#461096 ;
}
.codext{
    display: flex;
    padding-left: 230px;
    padding-top:60px;
    text-align: left;
    
}
.li{
    margin-left: 230px;
    display: flex;
    text-align: center;
    padding-left: 282px;
    flex-direction: row;
    text-align: left;
}
.ta{
    color: #44B4EE;
    font-size: 18px;
    margin-right: 40px;
}
.class{
   color: #FFFFFF; 
   margin-right: 40px;
}
.class-1{
    width: 160px;
    padding-top: 15px;
    background-color:#42B4EE;
    height: 30px;
    border-radius: 3px;
}
.FREE{
    padding-top: 20px;
    text-align: center;
    padding: 20px;
}
.div-3{
    margin-top: 146px;
    margin-left: 230px;
}
.codex{
    color:#FFFFFF ;
    width: 498px;
    height: 222px;
    font-size: 62px;
}
.Lorem{
    width: 435px;
    height: 87px;
    font-size: 18px;
}
.Try{
  width: 216px;
  height: 50px;
  background-color:#42B4EE ;
    color:#FFFFFF ;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    padding-top: 20px;
}

.l-8{
    display: flex;
}
.m{
    font-size: 44px;
    color:#051114 ;
    display: flex;
}
.k{
    font-size:26px;
    color: #051114;
    display: flex;
}
.t{
    display: flex;
}
